*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out 250ms;
}


:root{
    --body: #e6e6e6;
    --input: #fcfcfc;
    --output: #ffffff;
    --input-bar: #d9d2d2ce;
    --file-name: #cef1f6;
    --color: #090909;
    --fill: rgb(0, 0, 0);
}
:root[color-mode="dark"]{
    --bodycolor: #000000;
    --input: #252525b8;
    --output: #ffffff;
    --input-bar: #373434;
    --file-name: #222222;
    --color: #fffcfc;
    --fill: #eee;

} 
:root[color-mode="light"]{
    --body: #e6e6e6;
    --input: #fcfcfc;
    --output: #ffffff;
    --input-bar: #d9d2d2ce;
    --file-name: #cef1f6;
    --color: #090909;
    --fill: rgb(0, 0, 0);
}


body{

    background-color: var(--bodycolor);

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    display: flex;
    position: relative;
    height: 65vh;
    width: 48vw;
    border: 1px solid rgba(125, 125, 125, 0.567);
    background-color: var(--input);
    border-radius: 3px;
}

.input-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 6vh;
    width: 48vw;
    background-color: var(--input-bar);
    border-radius: 3px;
}
.file{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content:center ;
    
}
.file-name{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content:center ;
    height: 33px;
    width:60px;
    background-color: var(--file-name);
    color: var(--color);
    font-weight: 600;
    margin-right:4px ;
    margin-left:4px ;
    border-radius: 4px;
}
#language{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content:center ;
    height: 33px;
    width:60px;
    background-color: var(--file-name);
    color: var(--color);
    font-weight: 600;
    margin-right:4px ;
    margin-left:5px ;
    border-radius: 4px;
}
.newtab{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content:center ;
    height: 33px;
    width:30px;
    background-color: var(--file-name);
    border-radius: 4px;
 
}
.newtab svg{
    width: 14px;
    fill: var(--fill);
    
}
.features{
    display: flex;
    align-items:center ;
    justify-content:center ;
    margin-right:10px ;
 
}
.imgsize{
    width: 24px;
}
.run-btn {
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    margin-left: 8px;
    background: #0096fa;
    height: 33px;
    width: 85px;
    font-size: 16px;
    border: none;
    font-weight: 600;

}
.run-btn:hover {
    background: #071b6f;
}
#input-text{
    margin-top: 50px;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: var(--color);
}
.output{
    display: flex;
    position: relative;
    height: 65vh;
    width: 48vw;
    border: 1px solid rgba(125, 125, 125, 0.567);
    background-color: var(--input);
    border-radius: 3px;
}

.output-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    height: 6vh;
    width: 48vw;
    background-color: var(--input-bar);
    border-radius: 3px;
}

.clear-btn {
    border-radius: 11px;
    font-family: Arial;
    color: var(--color);
    margin-right: 10px;
    background:var(--file-name);
    height: 33px;
    width: 85px;
    font-size: 16px;
    border: none;
    font-weight: 600;

}
  
.clear-btn:hover {
    background: #6c6d6f8e;
    
}
@media(max-width: 600px) {
    .container{
        flex-direction: column;
    }
}